@import "tailwindcss";
@layer theme, base, components, utilities;
@custom-variant dark (&:where(.dark, .dark *));
@custom-variant ocean (&:where(.ocean, .ocean *));


@theme,
.theme-light {
  /* Light theme (default) */
  --color-background: #e1e0d3;
  --color-background-secondary: #9f9f9f;
  --color-disabled: #9FA1A6;
  --color-text: #101010;
  --color-text-light: #45474d;
  --color-primary: #be00d4;
  --color-secondary: #9C9A9A;
  --color-accent: #FF3D00;
  --color-success: #05df72;
  --color-failure: #fb2c36;
  
  /* Semantic shadow colors for light mode */
  --color-shadow-light: #FF3D00;
  --color-shadow-medium: #FF4F24;
}


/* Dark theme */
.theme-dark {
  --color-background: #151a23;
  --color-background-secondary: #47576a;
  --color-disabled: #76787d;
  --color-text: #ebebeb;
  --color-text-light: #c4c2c9;
  --color-primary: var(--color-fuchsia-400);
  --color-secondary: #9C9A9A;
  --color-accent: #FF4F24;

  /* Different shadow colors for dark mode */
  --color-shadow-light: #A78BFA;
  --color-shadow-medium: #8B5CF6;
}

/* Alternative theme example */
.theme-purple {
  --color-background: #2E1A47;
  --color-text: #F3E8FF;
  --color-primary: #D6BCFA;
  --color-secondary: #A78BFA;
  --color-accent: #8B5CF6;

  /* Semantic shadow colors for purple theme */
  --color-shadow-light: #A78BFA;
  --color-shadow-medium: #D6BCFA;
}

/* Custom font */
body {
  font-family: 'Inter', sans-serif;
  --font-mono: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', monospace;
  @apply bg-[var(--color-background)] text-[var(--color-text)];
}

/* Custom icons  */
.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 300, 'GRAD' 0, 'opsz' 24;
}

/* Custom selection colors */
*::selection {
  background: var(--color-background-secondary);
  color: var(--color-background);
}
*::-moz-selection {
  background: #cc0000;
  color: #ffffff;
}
*::-webkit-selection {
  background: #cc0000;
  color: #ffffff;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
  height: 10px;
  @apply bg-[var(--color-background)];
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  height: 10px;
  @apply bg-[var(--color-primary)];
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.safe-area {
  @apply w-full px-4 sm:px-8 md:px-20 lg:px-32 xl:px-28 max-w-[1250px] mx-auto transition-all;
}

h1, h2 {
  line-height: 0.9;
  font-family: monospace;
}

h1{
  font-size: clamp(50px, 6vw, 80px);
}
h2 {
  font-size: clamp(40px, 4vw, 50px);

  &.section-heading {
    width: 100%;
    display: flex;
    align-items: center;
    white-space: nowrap;
    
    &::after {
      content: "";
      width: 300px;
      height: 1px;
      margin-left: 20px;
      background-color: var(--color-text-light);
    }
    &::before {
      content: "";
      width: 50px;
      height: 1px;
      margin-right: 20px;
      background-color: var(--color-text-light);
    }
  }
}

.underline-expand-start {
  position: relative;
  
  &::after {
    content: "";
    display: block;
    width: 0px;
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--color-text);
    opacity: 0.5;
    transition: width 0.3s var(--default-transition-timing-function);
  }
  
  &:hover::after,
  &:focus::after,
  &[aria-current="true"]::after {
    width: 100%;
  }
  
  &[aria-current="true"]::after {
    opacity: 1;
  }
}

.underline-expand-center {
  position: relative;
  
  &::after {
    content: "";
    display: block;
    width: 0%;
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--color-text);
    opacity: 0.5;
    transition: width 0.3s var(--default-transition-timing-function);
  }
  
  &:hover::after,
  &:focus::after,
  &[aria-current="true"]::after {
    width: 100%;
  }
  
  &[aria-current="true"]::after {
    opacity: 1;
  }
}