@import "tailwindcss";
@layer theme, base, components, utilities;
@custom-variant dark (&:where(.dark, .dark *));
@custom-variant ocean (&:where(.ocean, .ocean *));

@theme, .theme-light {
  /* Light theme (default) */
  --color-background: #e4e7ed;
  --color-text: #0A0A0A;
  --color-primary: var(--color-violet-500);
  --color-secondary: #9C9A9A;
  --color-accent: #FF3D00;
  --color-success: #05df72;
  --color-failure: #fb2c36;
  
  /* Semantic shadow colors for light mode */
  --color-shadow-light: #FF3D00;
  --color-shadow-medium: #FF4F24;
}

/* Dark theme */
.theme-dark {
  --color-background: #0A0A0A;
  --color-text: #edeff2;
  --color-primary: var(--color-violet-400);
  --color-secondary: #9C9A9A;
  --color-accent: #FF4F24;
  
  /* Different shadow colors for dark mode */
  --color-shadow-light: #A78BFA;
  --color-shadow-medium: #8B5CF6;
}

/* Alternative theme example */
.theme-purple {
  --color-background: #2E1A47;
  --color-text: #F3E8FF;
  --color-primary: #D6BCFA;
  --color-secondary: #A78BFA;
  --color-accent: #8B5CF6;
  
  /* Semantic shadow colors for purple theme */
  --color-shadow-light: #A78BFA;
  --color-shadow-medium: #D6BCFA;
}

/* Custom font */
body{
  font-family: 'Inter', sans-serif;
  @apply bg-[var(--color-background)] text-[var(--color-text)];
}

/* Custom icons  */
.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 300, 'GRAD' 0, 'opsz' 24;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
  height: 10px;
  @apply bg-[var(--color-background)];
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  height: 10px;
  @apply bg-[var(--color-primary)];
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.safe-area { 
  @apply w-full px-4 sm:px-8 md:px-20 xl:px-20 max-w-[1250px] mx-auto transition-all;
}
